[Unit]
Description=Gunicorn daemon for Divisor PDF Django Web App
After=network.target

[Service]
User=rod
Group=www-data
WorkingDirectory=/var/www/divisor_pdf
EnvironmentFile=/var/www/divisor_pdf/.env
ExecStart=/var/www/divisor_pdf/venv/bin/gunicorn \
          --config /var/www/divisor_pdf/deploy/gunicorn.conf.py \
          config.wsgi:application

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
